<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common :: common_header(~{::title},~{::link})">
    <title>登陆页面</title>
    <link rel="stylesheet" type="text/css" href="css/element.css">
</head>
<body>
<div id="app">
    <span th:if="${param.error != null}">用户名或密码错误！</span>
    <form th:action="@{/login}" method="post">
        <input type="text" id="username" name="username"/>
        <input type="password" id="password" name="password"/>
        <button type="submit" class="btn">登陆</button>
    </form>
</div>
</body>
</html>